.ant-input:hover {
  border-right-width: 2px !important;
}

.ant-popover > .ant-popover-content > .ant-popover-inner > .ant-popover-inner-content {
  padding: 0px;
}

header.ant-layout-header {
  height: auto;
  border: none;
  background-color: #ff7271;
}

div.ant-picker,
div.ant-select {
  border: none;
  border-bottom: solid 1px #e0e0e0;
  border-radius: 0;
}
div.ant-picker,
div.ant-select {
  margin-right: 10px;
  min-height: 38px;
}
div.ant-picker.custom-picker:hover,
input.ant-input:hover,
input.ant-input:focus {
  border-width: 1px !important;
  border-color: #fd7271 !important;
}
div.ant-picker.ant-picker-focused,
div.ant-select-focused .ant-select-selector,
div.ant-select-focused,
input.ant-input:hover,
input.ant-input:focus {
  box-shadow: none !important;
  border-color: #fd7271 !important;
}
div.ant-picker + div.ant-picker {
  margin-left: 10px;
}
.ant-picker-time-panel-column {
  overflow: auto !important;
}
.ant-picker-time-panel-column::-webkit-scrollbar {
  width: 9px;
}

.ant-picker-time-panel-column::-webkit-scrollbar-track {
  background-color: transparent;
}

.ant-picker-time-panel-column::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
  border-radius: 20px;
}
.ant-picker-now-btn,
.ant-picker-now-btn:hover {
  color: #fd7271;
}
.ant-picker-time-panel-cell.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #ffe0e0 !important;
}
.ant-picker-footer .ant-picker-ranges .ant-picker-ok button,
.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #fd7271;
  border-color: #fd7271;
  color: #fff;
  background: #fd7271;
}
.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today.ant-picker-cell-selected .ant-picker-cell-inner:before,
.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #fd7271;
}
div.ant-picker.custom-picker {
  margin-bottom: 10px;
}
.ant-select-dropdown.pdropdown-select-menu .ant-select-item-option-selected {
  color: #fd7271 !important;
}
button.ant-btn {
  background-color: #fd7271;
}
button.ant-btn span {
  color: #fff;
}
button[type="button"].ant-btn:hover,
button[type="button"].ant-btn:focus {
  background-color: #d06162 !important;
}
button[type="button"].ant-btn:disabled {
  background-color: #918e8e !important;
}
input.ant-input {
  border-width: 1px;
}
a {
  color: #ff7271 !important;
}
i {
  margin-right: 10px;
  vertical-align: middle;
}

.btnclose {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 0;
}

.btnclose:focus {
  outline: none;
}

.btn-grp button:not(:last-child):not(.ant-btn-icon-only):not(.ant-btn-default) {
  margin-right: 10px;
}

.ant-typography.ant-typography-success {
  color: #52c41a;
}

.ant-layout-content {
  position: relative;
  z-index: 0;
}

/* Charts tab */
@media screen and (max-width: 400px) {
  .chart-entries-header {
    visibility: hidden;
  }
}

/* Error message */
.error-message {
  display: block;
  color: #ff0033;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}